## 01.1 Data Processing

<b> Objective: </b>
Append and clean all bus data from TfL to obtain number of journeys by MSOA.

In [1]:
# Import modules

import pandas as pd
import geopandas as gpd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import random
random.seed(42)

In [2]:
# read in bus reference data
bus_stops = pd.read_csv('../data/bus_data/bus_stops.csv')

# read in shape file
msoas = gpd.read_file('../data/statistical-gis-boundaries-london/ESRI/MSOA_2011_London_gen_MHW.shp')

In [3]:
# Append all bus data files

read_cols = ['Taps 20210601 - 20210630 FOI Data',
            'Taps 20210501 - 20210531 FOI Data',
            'Taps 20210401 - 20210430 FOI Data',
            'Taps 20210301 - 20210331 FOI Data',
            'Taps 20210201 - 20210228 FOI Data',
            'Taps 20210101 - 20210131 FOI Data',
            'Taps 20201001 - 20201031 FOI Data',
            'Taps 20200901 - 20200930 FOI Data',
            'Taps 20200801 - 20200831 FOI Data',
            'Taps 20200701 - 20200731 FOI Data',
            'Taps 20200601 - 20200630 FOI Data',
            'Taps 20200501 - 20200531 FOI Data',
            'Taps 20200401 - 20200430 FOI Data',
            'Taps 20200301 - 20200331 FOI Data',
            'Taps 20200201 - 20200229 FOI Data',
            'Taps 20200101 - 20200131 FOI Data',
            'Taps 20191201 - 20191231 FOI Data',
            'Taps 20191101 - 20191130 FOI Data',
            'Taps 20191001 - 20191031 FOI Data',
            'Taps 20190901 - 20190930 FOI Data',
            'Taps 20190801 - 20190831 FOI Data',
            'Taps 20190701 - 20190731 FOI Data',
            'Taps 20190601 - 20190630 FOI Data',
            'Taps 20190501 - 20190531 FOI Data',
            'Taps 20190401 - 20190430 FOI Data',
            'Taps 20190301 - 20190331 FOI Data',
            'Taps 20190201 - 20190228 FOI Data',
            'Taps 20190101 - 20190131 FOI Data',
            'Taps 20181201 - 20181231 FOI Data',
            'Taps 20181101 - 20181130 FOI Data',
            'Taps 20181001 - 20181031 FOI Data',
            'Taps 20180901 - 20180930 FOI Data',
            'Taps 20180801 - 20180831 FOI Data',
            'Taps 20180701 - 20180731 FOI Data',
            'Taps 20180601 - 20180630 FOI Data',
            'Taps 20180501 - 20180531 FOI Data',
            'Taps 20180401 - 20180430 FOI Data',
            'Taps 20180301 - 20180331 FOI Data',
            'Taps 20180201 - 20180228 FOI Data',
            'Taps 20180101 - 20180131 FOI Data']
#bustaps = []

for i in range(0,len(read_cols)):
    if i == 0:
        df = pd.read_csv(f"../data/bus_data/{read_cols[i]}.csv")
        bustaps = df
    else:
        df = pd.read_csv(f"../data/bus_data/{read_cols[i]}.csv")
        bustaps = bustaps.append(df)
    #print(len(bustaps))

#bustaps_test = pd.read_csv('bus_data/Taps 20210601 - 20210630 FOI Data.csv')
#bus_stops = pd.read_csv('bus_data/bus_stops.csv')
#bustaps = pd.DataFrame(bustaps)
bustaps.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21683849 entries, 0 to 581176
Data columns (total 27 columns):
 #   Column         Dtype
---  ------         -----
 0   DATE           object
 1   FROMNODEID     object
 2   0              object
 3   04:00 - 04:30  object
 4   04:30 - 05:00  object
 5   1              object
 6   10             object
 7   11             object
 8   12             object
 9   13             object
 10  14             object
 11  15             object
 12  16             object
 13  17             object
 14  18             object
 15  19             object
 16  2              object
 17  20             object
 18  21             object
 19  22             object
 20  23             object
 21  3              object
 22  5              object
 23  6              object
 24  7              object
 25  8              object
 26  9              object
dtypes: object(27)
memory usage: 4.5+ GB

In [4]:
# Replace all entries with trips less than 5 as 1 to be conservative
df = bustaps.replace({'< 5': 1})
df.head()

,DATE,FROMNODEID,0,04:00 - 04:30,04:30 - 05:00,1,10,11,12,13,...,20,21,22,23,3,5,6,7,8,9
0,2021-06-01,1000,9,1,1,12,16,16,21,22,...,23,37,8,15,5,5,12,28,32,17
1,2021-06-01,10001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2021-06-01,10002,15,0,0,1,24,35,35,27,...,17,26,11,7,1,6,7,13,11,29
3,2021-06-01,10003,8,0,1,1,21,29,41,38,...,41,26,15,6,1,1,24,51,36,32
4,2021-06-01,10004,1,0,1,0,23,16,23,17,...,9,6,1,0,1,1,1,10,11,12

In [5]:
# Convert all columns from float to numbers
#cols = df[:,]
cols = df.columns[2:,]

for i in range(0,len(cols)):
    df[cols[i]] = df[cols[i]].astype(np.float64)
    
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21683849 entries, 0 to 581176
Data columns (total 27 columns):
 #   Column         Dtype
---  ------         -----
 0   DATE           object
 1   FROMNODEID     object
 2   0              float64
 3   04:00 - 04:30  float64
 4   04:30 - 05:00  float64
 5   1              float64
 6   10             float64
 7   11             float64
 8   12             float64
 9   13             float64
 10  14             float64
 11  15             float64
 12  16             float64
 13  17             float64
 14  18             float64
 15  19             float64
 16  2              float64
 17  20             float64
 18  21             float64
 19  22             float64
 20  23             float64
 21  3              float64
 22  5              float64
 23  6              float64
 24  7              float64
 25  8              float64
 26  9              float64
dtypes: float64(25), object(2)
memory usage: 4.5+ GB

In [6]:
#bus_stops.head()

In [7]:
# Sum up all time columns to obtain number of alightments

df['origin_alight'] = df['0']+df['04:00 - 04:30']+df['04:30 - 05:00']+df['1']+df['10']+df['11']+df['12']+ df['13']+df['14']+df['15']+df['16']+df['17']+df['18']+df['19']+df['2']+df['20']+df['21']+df['22']+df['23']+df['3']+df['5']+df['6']+df['7']+df['8']+df['9']
df = df[['DATE', 'FROMNODEID', 'origin_alight']]
df = df.merge(bus_stops, left_on = 'FROMNODEID', right_on = 'Stop_Code_LBSL')
#df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21531951 entries, 0 to 21531950
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   DATE               object
 1   FROMNODEID         object
 2   origin_alight      float64
 3   Stop_Code_LBSL     object
 4   Bus_Stop_Code      object
 5   Naptan_Atco        object
 6   Stop_Name          object
 7   Location_Easting   int64
 8   Location_Northing  int64
 9   Heading            float64
 10  Stop_Area          object
 11  Virtual_Bus_Stop   int64
dtypes: float64(2), int64(3), object(7)
memory usage: 2.1+ GB

In [8]:
# Convert Easting & Northing to geometry
df = gpd.GeoDataFrame(df, geometry = gpd.points_from_xy(df.Location_Easting, df.Location_Northing))
df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 21531951 entries, 0 to 21531950
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   DATE               object
 1   FROMNODEID         object
 2   origin_alight      float64
 3   Stop_Code_LBSL     object
 4   Bus_Stop_Code      object
 5   Naptan_Atco        object
 6   Stop_Name          object
 7   Location_Easting   int64
 8   Location_Northing  int64
 9   Heading            float64
 10  Stop_Area          object
 11  Virtual_Bus_Stop   int64
 12  geometry           geometry
dtypes: float64(2), geometry(1), int64(3), object(7)
memory usage: 2.2+ GB

In [9]:
# Set crs to epsg 27700, validate number of journeys
df = gpd.GeoDataFrame(df, crs = 'epsg:27700')
df = df.to_crs('epsg:27700')

msoas = msoas.to_crs('epsg:27700')
print(df['origin_alight'].agg('sum'))

5615367644.0

In [10]:
# Join against London MSOAs, and observe the number of journeys lost from the merge
df = gpd.sjoin(df, msoas, op = 'within')
print(df['origin_alight'].agg('sum'))

5563323576.0

In [11]:
# Group dataset to required columns, pull info to see size of dataset
df_bus = df.groupby(['DATE', 'MSOA11CD', 'MSOA11NM', 'LAD11CD', 'LAD11NM'])['origin_alight'].agg('sum').reset_index()
#print(df_bus['origin_alight'].agg('sum'))
df_bus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154621 entries, 0 to 1154620
Data columns (total 6 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   DATE           1154621 non-null  object
 1   MSOA11CD       1154621 non-null  object
 2   MSOA11NM       1154621 non-null  object
 3   LAD11CD        1154621 non-null  object
 4   LAD11NM        1154621 non-null  object
 5   origin_alight  1154621 non-null  float64
dtypes: float64(1), object(5)
memory usage: 52.9+ MB

In [12]:
# Save data to output folder for future analysis
df_bus.to_csv('../output_data/bus_taps20182020.csv')